p {
    text-align: center;
}
fieldset {
    border: none;
}
ul {
    display: grid;
    grid-template-columns: repeat(8, 4fr);
    grid-template-rows: 30px;
}
#form1 {
    display: grid;
    grid-column: 0/8;
    grid-row: 3;
    text-align:center;
    width: 220px;
    height: 100px;
}
#form2 {
    display: grid;
    grid-column: 1/5;
    grid-row: 4;
    text-align: left;
}
#input {
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid black;/*아래 테두리만 꾸밈*/
    background-color: aliceblue;
}
button {
    background-color: aliceblue;
    border-radius: 25%;
    border-color: aliceblue;
}
#button {
    text-align: center;
    display: grid;
    grid-row: 3;
    grid-column: 2;
    place-items: center;/*justify와 align을 합친 것*/
    justify-content: center;/*display가 flex일때 가로축에 대한 정렬
    align-items는 세로축에 대한 정렬*/
}
#Choose {
    place-items: center;
    justify-content: center;
}
ul {
    display: grid;
    place-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 80px);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    margin:0%;
    padding: 0%;
}
label {
    width: 70px;
    height: 50px;
    border: 5px solid rgb(249, 199, 207);
    background-color: rgb(249, 199, 207);
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    line-height: 50px;
    margin: 5px;
    text-align: center;
}
input[type="radio"]:checked + label { /*checked 되었을때 label을 아래 색들로 지정*/
    border-color: rgb(246, 124, 144);
    background-color: rgb(246, 124, 144);
}
input[type="radio"] {/*이걸 none으로 안하면 바로 위 스타일 설정한 라벨이랑 겹쳐 보임*/
    display: none;
}
button {
    background-color: white;
    border-radius: 25%;
    border-color: white;
    border: none;/*찐 버튼은 보더설정 없애고 위에 .button의 보더설정을 사용*/
    display: inline-block;
    padding: 10px 10px;
    font-weight: 600;
    font-size: large;
    line-height: 15px;
}